-# app/views/onetime/index.haml
- @title = "Onetime"

%section.articles
  .column.is-8.is-offset-2
    .card.article
      .card-content
        .media
          .media-content.has-text-centered
            %h3.title.article-title= 'ENTER SECRET:'
            .tags.error= @error
        .content.article-body
        = form_tag '/create', :class => 'create-form', :method => 'post' do
          = flash_tag(:notice)
          = field_set_tag do
            %p
              = ''
            %p
            %p
              = text_area_tag :secret, :placeholder => 'Enter your secret here (up to 255 characters)...', :value => params[:secret]
              = submit_tag "CREATE ONETIME LINK to SECRET", :class => 'button is-primary is-fullwidth'
        %p
        <hr>
        %p   After you submit your secret, a <b>onetime link</b> will be generated.
        %p   You can then share this link with someone, who can see your secret <b>only once</b>.
